* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --border-style: solid black 3px;
}

header {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.board {
    margin: auto auto;
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
}

@media only screen and (min-width: 500px) {
    .board {
        grid-template-columns: 8rem 8rem 8rem;
        grid-template-rows: 8rem 8rem 8rem;
    } 
}

.panel {
    height: 100vh;
    width: 3rem;
    position: absolute;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: .3s ease;
}

.cell.win {
    background-color: green;
    color: white;
}

@media only screen and (min-width: 500px) {
    .cell {
        font-size: 3rem;
    } 
}

.cell:nth-child(1) {
    border-bottom: var(--border-style);
}

.cell:nth-child(2) {
    border-bottom: var(--border-style);
    border-left: var(--border-style);
    border-right: var(--border-style);
}

.cell:nth-child(3) {
    border-bottom: var(--border-style);
}

.cell:nth-child(4) {
    border-bottom: var(--border-style);
}

.cell:nth-child(5) {
    border-left: var(--border-style);
    border-right: var(--border-style);
    border-bottom: var(--border-style);
}

.cell:nth-child(6) {
    border-bottom: var(--border-style);
}

.cell:nth-child(8) {
    border-left: var(--border-style);
    border-right: var(--border-style);
}

.btn-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.7rem 2rem;
    
}

